
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,800&display=swap');

body {
    font-family:  'Fjalla One', sans-serif;
}

h1 {
    font-weight: 200;
    font-style: oblique;
    text-decoration: underline;
    text-transform: uppercase;
}

p {
    line-height: 50px;
    margin-bottom: 1px;
    margin-left: 10%;
    text-indent: -50px;
}